<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Login</title>

    <!-- Bootstrap core CSS-->
    <link href="../conx/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../conx/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../conx/css/sb-admin.css" rel="stylesheet">

  </head>

  <body  style="background:#2b356e">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Connexion</div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="login" class="form-control" placeholder="Login" required="required" autofocus="autofocus">
                <label for="inputEmail">Login</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" name="mdp" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Se souvenir de moi 
                </label>
              </div>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Se Connecter">
          </form>
          <div class="text-center">
             
            <a class="d-block small" href="forgotpassword">Mot de passe oublié?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../conx/vendor/jquery/jquery.min.js"></script>
    <script src="../conx/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../conx/vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
