 <div id="sidebar" class="nav-collapse " >
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Kasmi Abir</h5>
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Tableau de bord</span>
              </a>
            <ul class="sub">
              <li><a href="../Apprenants">Apprenants</a></li>
              
             
              <li><a href="../Evenements">Evenements</a></li>
              <li><a href="buttons.html">Notes</a></li>
              <li><a href="../EVformations">Formations</a></li>
              <li><a href="../editProfil">Profil</a></li>
              <li><a href="../demandes">Demandes</a></li>
              <li><a href="../PlanningFormation">Planning Formations</a></li>
            </ul>
          </li>
          
        </ul>
        <!-- sidebar menu end-->
      </div>